*{ /*reset cac thuoc tinh cua trang*/
	padding: 0;
	margin: 0;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

body{
	font-family:tahoma;
	font-size: 14px;
	color: #404040;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #666;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.header-nav{
	width: 100%;
	height: 60px;
	margin: 0 auto 0;
}

ul.list-left li, ul.list-right li{
	cursor: pointer;
	position: relative;
	padding: 21px;
}

ul.list-left li{
	float: left;
	font-size: 15px;
}

ul.list-right li{
	float: right;
}

ul.list-left li:hover a{
	color: #28C17B;	
}

li.avatar{
	position: absolute;
	top: -12px;
	right: 0px;
}

li.avatar a img{
	width: 40px;
	border-radius: 50%;
}

header{
	width: 100%;
	height: 100%;
	position: relative;
}

header div#wrapper-header{
	background-image: url("nen-header.jpg");
	background-size: cover !important;
    background-position: center;
    min-height: 350px;
    position: relative;
}

header div#wrapper-header:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(19, 29, 38, 0) 39%, rgba(19, 29, 38, 0.2) 60%, rgba(19, 29, 38, 0.4) 80%, rgba(19, 29, 38, 0.6) 100%);
}

header div#wrapper-header:before{
	content: '';
	position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url("dots.png") repeat rgba(19, 29, 38, 0.2);
}

div#header-left-photo{
	width: 160px;
	height: 350px;
	background-color: red;
	opacity:0.6;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	right: 160px;
}

div#header-left-blog{
	width: 160px;
	height: 350px;
	background-color: #279ee1;
	opacity: 0.6;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	right: 0;
}

div#header-left-blog:before{
	content:"\e611";
	font-size: 40px;
	color: #fff;
}

/*div#header-left-photo:before{
	content:"\e611";
	font-size: 40px;
	color: #fff;
}*/
.icon-camera:before {
    content: "\e615";
}

#header-left-photo:before, #header-left-blog:before{
	position: absolute;
	top: 108px;
	right: 62px;
}

div#header-left-photo:hover{
	opacity: 0.3;
}

div#header-left-blog:hover{
	opacity: 0.3;
}

div.table{
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	font-size: 20px;
}

.block-title, .block-counter{
	color: #fff;
	position: absolute;
	opacity: 1;	
	z-index: 2;
}

.block-counter{
	top: 210px;
	left: 70px;
}

.block-title{
	width: 110px;
	top: 170px;
	left: 30px;
}
#header-right{

}
